.contenedorTerminos,
.contenedorNosotros,
.contenedorPreguntas {
    flex-wrap: wrap;
    padding: 25px;
    margin: 20px;
}

.contenedorAbrigos,
.contenedorRemeras,
.contenedorPantalones,
.contenedorIngresos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}

.contenedorInfo {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.contenedorPropaganda {
    padding-top: 50px;
    border: 10px;
    display: flex;
    justify-content: center;
}

.contenedorFinal {
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comprarBoton {
    background-color: $background-color_3;
    color: $color_4;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio,
.cuotas {
    margin-bottom: 5px;
    font-size: medium;
}

.parrafoContenido {
    margin: 5px;
    padding: 5px;
    text-align: justify;
    line-height: 1.5;
}

.imagenHome {
    width: 550px;
    height: 550px;
    padding: 5px 20px;
}

.imagenChica,
.imagenRemera,
.imagenPantalon,
.imagenIngresos {
    width: 550px;
    height: 550px;
    padding: 5px 20px;
    border-radius: 3rem;

}

.contenedorCarrito {
    text-align: justify;
    margin: 1rem;
    padding: 1rem;
}
.contenedorAcceso{
    display: flex;
    justify-content: space-around;

}