$color_1: #333;
$color_2: rgb(94, 91, 91);
$color_3: rgb(51, 46, 46);
$color_4: #212121;

$background-color_1: rgb(243, 229, 227);
$background-color_2: rosybrown;
$background-color_3: rgb(210, 154, 154);
$menu-border-color: rgba(94, 34, 34, 0.158);
$menu-link-color: $color_1;
$menu-link-hover-color: $color_2;
$link-color: rgb(9, 6, 6);

@import "body";
@import "nav";
@import "main";
@import "contenedor";
@import "footer";
@import "media";

@mixin text-styling {
    text-align: center;
}

header {
    @include text-styling;
    margin-top: 2rem;
    padding: 10px;

    .titulo {
        font-size: 3rem;
    }
}

img {
    max-width: 100%;
    height: auto;

}

.contenedorNav {
    font-size: 1.5rem;
    letter-spacing: 2px;
    border: solid cornsilk;
    border-radius: 10px;
    @include text-styling;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }
}

